:root {
    --light_grey: #CCD0D8;
    --light_blue: #84A4FC;
    --blue: #1463F3;
    --dark_blue: #1052ce;
    --black2: #1D2023;
    --black1: #191919;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
}

span,
p,
h2,
h3 {
    color: var(--light_grey)
}

body {
    position: relative;

    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--black2);
    display: flex;
    gap: 1em;
}

header {
    position: absolute;

    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black1);
    box-shadow: 0 0 7px var(--black1);
    padding: 0 calc(1em + 10px);
}

.side-bar {
    margin-top: 7.9vh;
    max-width: 12em;
    height: fit-content;
    flex-grow: 1;
    background-color: var(--black1);
    border-radius: 10px;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 10px;
    transition: max-width 0.3s ease-in-out;
}

.side-bar>* {
    font-size: 1rem;
    padding: 20px;
    border-radius: 6px;
    border: none;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out;
}

.side-bar>*:hover {
    background-color: #1052ce;
}

.side-bar>button:hover {
    background-color: var(--dark_blue);
}

.closer-side-bar {
    max-width: 4em;
    max-height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar.collapsed {
    max-width: 4em;
}

.side-bar.collapsed .side {
    display: none;
}

.side-bar.collapsed .closer-side-bar::after {
    font-size: 1.5em;
}

main {
    margin-top: 7.9vh;

    background-color: var(--black1);
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.select-type {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
    padding: .5em;
    background: rgb(29, 32, 35);
    background: linear-gradient(0deg, rgba(25, 25, 25, 1) 0%, rgba(29, 32, 35, 1) 100%);
}

.select-type>h3 {
    font-size: 1.7rem;
}

.btns-select {
    display: flex;
    width: fit-content;
}

.btns-select>button {
    background-color: var(--light_grey);
    transition: .2s ease-in-out;
    font-weight: bold;
}

.btns-select>button:hover,
.clicked {
    background-color: var(--blue) !important;
    color: white !important;
}

.btn-filme,
.btn-serie {
    padding: 7px 18px;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
}

.btn-filme {
    border-radius: 7px 0 0 7px;
    border-right: 1px solid black;
}

.btn-serie {
    border-left: 1px solid black;
    border-radius: 0 7px 7px 0;
}

.cards-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: wrap;
    overflow: auto;
    gap: 2%;
    background-color: var(--blue1);
}

.unity {
    width: 17.5%;
    height: 47.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2021/02/16/flashver41xlg.jpg");
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.unity_desc {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column;
    border-radius: 5px;
    transition: opacity 0.25s ease;
    opacity: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.unity_desc>* {
    margin-left: 10px;
}

.unity_desc>div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px 40px;
}

.temp_screen {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#load_icon {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    border-radius: 100%;
    animation: rotate0 1s infinite, opacity 1s infinite;
}

#load_icon>* {
    animation: rotate1 1s infinite;
}

@keyframes rotate0 {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotate1 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#empty_icon {
    font-size: 60pt;
    color: white;
}

/*
<div class="back_modal">
    <div id="modal_top">
        <div id="modal_img">
            <div></div>
        </div>
        <div id="modal_desc">
            <div>
                <div>
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div>
                <p>Bad Boys: Até o Fim</p>
                <p>2024-06-05</p>
                <p>Língua: en</p>
                <p>Adulto: sim</p>
                <div>
                    Avaliação geral:
                    <div id="vote_counter">
                        <div></div>
                    </div>
                </div>
                <p>Depois que seu falecido ex-capitão é incriminado, Lowrey e Burnett tentam limpar seu nome, apenas para acabarem se tornando os mais procurados de Miami.</p>
            </div>
        </div>
    </div>
    <div id="modal_bottom">
        <div id="fav_button">
            <i class="fa-regular fa-star"></i>
            <!--<i class="fa-solid fa-star"></i>-->
        </div>
        <div id="watch_button">
            <i class="fa-solid fa-list"></i>
        </div>
    </div>
</div>
*/
#back_modal {
    position: absolute;
    top: 10vh;
    left: 20vw;
    width: 800px;
    height: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    backdrop-filter: blur(5px);
    transition: opacity 0.25s ease;
    background-color: rgba(0, 0, 0, 0.8);
}
#modal_top {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal_img>* {
    width: 90%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://image.tmdb.org/t/p/w500/gRApXuxWmO2forYTuTmcz5RaNUV.jpg");
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
#modal_desc {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#modal_desc>*:nth-child(1) {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#modal_close_btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.25s ease;
    background-color: rgba(29, 32, 35, 1);
}
#modal_close_btn:hover {
    background-color: rgb(41, 45, 49);
}
#modal_data {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    gap: 5px 0px;
}
#modal_data>*:nth-child(1) {
    font-size: 15pt;
    font-weight: bold;
}
#modal_data>*:nth-child(5) {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0px 5px;
}
#vote_counter {
    width: 100px;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid white;
}
#vote_counter>* {
    width: 100%;
    height: 100%;
    background-color: white;
}
#modal_bottom {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#modal_bottom>* {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.fav {
    color: yellow;
}
.watch {
    color: black;
    background-color: white;
}
